.greeting {
    text-align: center;
    line-height: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    font-size: 1.2em;
}

.Prod {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    object-fit: cover;

}

.card-img {
    width: 90%;
    height: 30%;

}

.title-name {
    font-weight: bold;
    font-size: 1em;
    color: crimson;
}



.bold {
    font-weight: bolder;
    font-size: 0.8em;
}